*.o
.DS_Store
.*.swp
/env
/dl
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
/feeds/luci.index
/feeds/luci.targetindex
/feeds/luci.tmp
/feeds/packages.index
/feeds/packages.targetindex
/feeds/packages.tmp

